---
layout: default
title: OpenStreetMap Ghana
---
<header>
	<div class="container">
		<div class="column">
			<div>
				<h1 class="editable">OpenStreetMap Ghana</h1>
				<p class="editable">OpenStreetMap (OSM) Ghana not-for-profit community making maps that saves lives and building capicity.</p>
				<div class="button">
					<a href="https://learnosm.org">Learn OSM</a>
				</div>
			</div>
		</div>
		<div class="column">
			<img src="/images/osmtrotro.jpg" alt="OSM Trotro">
		</div>
	</div>
</header>

<div class="container">
	<h2 class="editable" style="text-align: center;">What we do</h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">Open Data</h3>
			<p class="editable">OpenStreetMap is open data: you are free to use it for any purpose as long as you credit OpenStreetMap and its contributors. If you alter or build upon the data in certain ways, you may distribute the result only under the same license</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="economy" %}</div>
			<h3 class="editable">Open Source</h3>
			<p class="editable">We are supporters and users of Free and Open Source Software. In fact OpenStreetMap community globally is built upon the principles of Open Source.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">Community</h3>
			<p class="editable">OpenStreetMap's community is diverse, passionate, and growing every day. Our contributors include enthusiast mappers, GIS professionals, engineers running the OSM servers, humanitarians mapping disaster-affected areas, and many more. </p>
		</li>
	</ul>
</div>

<div class="container">
	<div class="columns">
		<div>
			<img src="/images/osmghana2.jpg" alt="OSM Ghana">
		</div>
		<div>
			<h2 class="editable">Our Mission</h2>

			<p class="editable">Mapping Ghana one node at a time leaving no features behind. Our mission is to make Open Geo Data available and accessible to all using OpenStreetMap. Through capacity and community building using Free and Open Source Software.</p>
		</div>
	</div>
</div>