<footer class='c-footer'>
  <div class='o-grid'>

    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-4-l'>
      <a href='{{ @blog.url }}' class='u-block u-font-regular'>{{ site.title }}</a>
      <p>OpenStreetMap (OSM) Ghana not-for-profit community making maps that saves lives and building capicity in FOSS and Open Data</p>

    </div>

    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-4-l'>
      <ul class='c-footer-list o-plain-list'>
        {% include navigation.html %}
      </ul>
    </div>

    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-4-l'>
      <ul class='c-footer-list o-plain-list'>
        {% if site.facebook %}
          <li>
            <a href='{{ site.facebook }}' target='_blank'>
              <span data-icon='ei-sc-facebook' data-size='s'></span>
              Facebook
            </a>
          </li>
        {% endif %}
        {% if site.twitter %}
          <li>
            <a href='{{ site.twitter }}' target='_blank'>
              <span data-icon='ei-sc-twitter' data-size='s'></span>
              Twitter
            </a>
          </li>
        {% endif %}
        {% if site.instagram %}
          <li>
            <a href='{{ site.instagram }}' target='_blank'>
              <span data-icon='ei-sc-instagram' data-size='s'></span>
              Instagram
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
{% if site.email %}
   <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-4-l'>
      <p class='u-font-medium'>Contact Us</p>
      <a href="mailto:{{ site.email }}">{{ site.email }}</a>

    </div>
 {% endif %}
{% if site.newsletter %}
    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-4-l'>
      <p class='u-font-medium'>Newsletter</p>

      <form method='post'
            target='_blank'
            class='c-subscribe-form'
            action='//aspirethemes.us12.list-manage.com/subscribe/post?u=9723f3c5c3a2637fbba3bc673&amp;id=7b50db9989'>
        <div class='form-group'>
          <label for='footer-widget-subscribe-email' class='u-hidden-visually'>Newsletter Email</label>
          <input id='footer-widget-subscribe-email' type='email' name='EMAIL' class='c-subscribe-form__input' placeholder='Email'>
        </div>
        <input type='submit' class='c-subscribe-form__btn c-btn c-btn--small c-btn--full' value='Subscribe'>
      </form>
    </div>
 {% endif %}
    <div class='o-grid__col o-grid__col--full'>
      <div class='c-footer__copy'>
        <span class='u-font-small u-text-center u-block'>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</span>
      </div>
    </div>

  </div>
</footer>