@import url('https://fonts.googleapis.com/css?family=Archivo');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Archivo', sans-serif;
    color: #323232;
    /*min-width: 380px;*/
}

img {
    max-width: 100%;
}

hr {
    height: 1px;
    border: 0;
    background-color: #ddd;
    margin-bottom: 50px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 2.5em;
}

h2 {
    font-size: 2.3em;
    margin: 0 0 30px 0;
    text-align: center;
}

h3 {
    font-size: 1.8em;
    margin: 20px 0 20px 0;
}

h4 {
    font-size: larger;
}

p {
    font-size: 1em;
    line-height: 1.4em;
    color: #323232;
}

.p-sec {
    font-size: 1.4em;
    line-height: 1.4em;
    color: #323232;
}

.p-highlight {
    color: #006b3f;
    font-size: 1.4em;
    line-height: 1.4em;

}

nav {
    background: rgba(0, 0, 0, .8);
    padding: 10px 0;
    position: absolute;
    width: 100%;
    color: #fff;
    z-index: 999;
    line-height: 0;

    .button a {
        padding: 13px;
        font-size: .8em;
    }

    svg {
        fill: $brand-color;
        height: 35px;
    }
}


section {
    padding: 60px 0;
}

form {
    display: flex;
    max-width: 500px;
    margin: 0 auto;

    input[type="text"] {
        flex-grow: 1;
        flex-shrink: 1;
        width: 100%;
        border: 1px solid #ddd;


        &,
        &:focus {
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }

        &:focus {
            box-shadow: 0 0 5px 0 $brand-color;
            outline: none;
        }
    }

    input[type="submit"] {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;

        &:hover {
            background: darken($brand-color, 5%);
        }
    }
}

.button a,
input[type="submit"],
input[type="text"] {
    border: 0;
    padding: 15px 40px;
    box-sizing: content-box;
    font-size: 1em;
    font-weight: 100;
}

.button a,
input[type="submit"] {
    background: $brand-color;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.button a {
    display: inline-block;
    text-decoration: none;
    border-radius: 30px;
    transition: 200ms ease-in background;

    &:hover {
        background: #000;
    }
}

.button a:hover {
    color: #fff;
}

a {
    color: #323232;
}

a:hover {
    color: #006b3f;
}

.page-navigation {
    margin-bottom: 40px;
    font-weight: 700;
    a {
        text-decoration: none;
    } 
}

.text-right {
    text-align: right
}

.article h1,
.article h2 {
    font-family: "Archivo", sans-serif;
    font-size: 1.75rem;
    text-transform: none;
    letter-spacing: 0;
    font-weight: normal;
    margin-top: 32px
}

.article h2 {
    font-size: 1.375rem
}

.article h3 {
    font-size: 1.125rem;
    font-weight: bold;
    margin-top: 32px;
    text-align: center;
}

.article p {
    font-size: 1.125rem;
    margin-bottom: 14px;
    color: #4c4f56;
}

@media (max-width: 798px) {
    .article p {
        font-size: 1rem
    }
}

.article p a {
    color: #4c4f56
}

.article p a:hover {
    color: #006b3f
}

.article li {
    font-size: 1.125rem;
    line-height: 1.35;
    margin-bottom: 14px;
    color: #4c4f56;
    position: relative
}

.article ul {
    padding-left: 28px
}

.article ul li {
    position: relative;
    list-style: square;
}

.article ul li:before {
    content: '—';
    position: absolute;
    top: 0px;
    left: -28px;
    display: inline-block;
    color: $brand-color;
    font-weight: bold;
}

.article ol {
    padding-left: 20px
}

.article ol li {
    list-style: decimal;
}

.article img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    -webkit-filter: drop-shadow(10px 16px 16px rgba(169, 169, 169, 1));
    -moz-filter: drop-shadow(10px 16px 16px rgba(169, 169, 169, 1));
    -ms-filter: drop-shadow(10px 16px 16px rgba(169, 169, 169, 1));
    -o-filter: drop-shadow(10px 16px 16px rgba(169, 169, 169, 1));
    filter: drop-shadow(10px 16px 16px rgba(169, 169, 169, 1));

}

.article img+em {
    font-size: 0.8125rem;
    font-weight: bold;
    color: #68707F
}

.article strong {
    font-weight: bold;
    color: #2C3038
}

.article-summary {
    font-size: 1.125rem;
    color: #006b3f;
    padding-bottom: 32px;
    border-bottom: 1px solid #E1E0E0;
    margin-bottom: 32px
}

.article-feature-image {
    width: 100%;
    object-fit: cover;
    margin-bottom: 32px;
    margin-top: 32px;
}

.about p {
    color: #fff;
}

.about img {
    width: 70%;
    height: auto;
}

.blog-img {
    -webkit-filter: drop-shadow(10px 16px 16px rgba(169, 169, 169, 1));
    -moz-filter: drop-shadow(10px 16px 16px rgba(169, 169, 169, 1));
    -ms-filter: drop-shadow(10px 16px 16px rgba(169, 169, 169, 1));
    -o-filter: drop-shadow(10px 16px 16px rgba(169, 169, 169, 1));
    filter: drop-shadow(10px 16px 16px rgba(169, 169, 169, 1));
}

span {
    font-weight: bold;
}


ul.share-buttons{
  list-style: none;
  padding: 0;
  text-align: center;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only{
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}