---
layout: default
---

{% include base_path %}

{% assign author = site.authors[page.author] %}

{% if page.image %}
  <meta itemprop='og:image' content='{{ base_path }}{{ page.image }}'>
{% endif %}

<div class='c-post-hero' style='background-image: url({{ page.image | prepend: site.baseurl }})'></div>

<div class='o-wrapper'>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--2-3-m'>
      <article class='c-post' itemscope itemtype='http://schema.org/BlogPosting'>

        <time class='c-post__date' datetime='{{ page.date | date_to_xmlschema }}' itemprop='datePublished'>{{ page.date | date: '%d %b %Y' }}</time>

        <h2 class='c-post__title'>{{ page.title }}</h2>

        <div class='c-content'>
          {{ content }}
        </div>

        <div class='c-tags'>
          {% for tag in page.tags %}
            <a href='{{ site.baseurl }}/tag/{{ tag }}'>{{ tag }}</a>
          {% endfor %}
        </div>

        <div class='o-grid'>
          <div class='o-grid__col o-grid__col--full'>
            {% include share.html %}
          </div>
        </div>

        <hr>

        <!--{% include subscribe-form.html %}-->

        {% if page.author %}
          {% include author.html %}
        {% endif %}

        <hr>

        <!--{% include disqus.html %} -->

      </article>

    </div>

    <div class='o-grid__col o-grid__col--1-3-m'>
      {% include sidebar.html %}
    </div>
  </div>

</div>